ul {
  list-style:none;
  padding-left: 0;
}
header h1 {
  padding-left: 200px;
}
header ul a {
  text-decoration: none;
}
header .tagline {
  margin-top: 15px;
}
header h4{
  color: #083452;
  margin: 40px 0 0 0;
  padding: 0;
}
article a{
  text-decoration: none;
  color: #106db3;
}
article ul a{
  text-decoration: none;
  color: white;
  background-color: #a3b3bf;
}
article ul a .icon{
  text-decoration: none;
  color: white;
  background-color: #5e686f;
  margin: 0 10px 0 0;
}
article h5 blockquote{
  color: #106db3;
}
article h5 {
  border-left: 1px solid gray;
  padding: 3px 0;
}
aside {
  color: gray;
}
aside h3 {
  color: #106db3;
  margin-bottom: 0;
}
aside ul {
  list-style: disc;
  padding-left:40px;
}
aside p {
  margin-top: 0;
}
footer {
  background-color: #083452;
  border-radius: 0 0 10px 10px;
  padding-bottom: 15px;
}
footer section{
  color: white;
  padding: 30px 0 10px 40px;
}
.popular h2 {
  margin-top: 0;
  color: #083452
}
footer nav a {
  color: white;
}
footer nav {
  padding-left: 0;
}
