ul {
  list-style: none;
  padding-left: 0;
}
header {
  background-image: url(assets/header.jpg);
  background-size: cover;
  border-radius: 10px 10px 0 0;
  min-height: 523px;
  width: 100%;
  position: relative;
}
header .logo {
  display: inline;
  position: absolute;
  left: 20%;
}
header img{
  display: inline;
}
header h3{
  display: inline;
}
header .title {
  position: absolute;
  top: 36%;
  left: 28%;
}
header h1 {
  color: white;
  margin: 0;
  font-size: 3rem;
}
header .tagline {
  margin: 0 0 0 25%;
}
header ul a {
  text-decoration: none;
}
header nav {
  display: inline;
  position: absolute;
  right: 20%;
}
header nav li {
  display: inline;
}
.main {
  max-width: 800px;
  margin: 0 auto;;
}
article {
  display: inline-block;
  width: 69%;
}
.article_header {
  color: #083452;
  margin: 40px 0 0 0;
  padding: 0;
}
article ul {
  display: inline-block;
}
article li {
  display: inline;
}
article a{
  text-decoration: none;
  color: #106db3;
}
article ul a{
  text-decoration: none;
  color: white;
  background-color: #a3b3bf;
}
article ul a .icon{
  text-decoration: none;
  color: white;
  background-color: #5e686f;
  margin: 0 10px 0 0;
}
article blockquote{
  color: #106db3;
  border-left: 1px solid gray;
  padding-left: 20px;
  margin-left: 0;
}
aside {
  color: gray;
  display: inline-block;
  width: 30%;
}
aside h3 {
  color: #106db3;
  margin: 0;
}
aside h6 {
  text-align: right;
  margin: 0;
}
aside .ad {
  width: 100%;
}
aside ul {
  display: inline-block;
}
aside li {
  display: inline;
}
aside p {
  margin-top: 0;
}
.popular h2 {
  margin-top: 0;
  color: #083452
}
.popular ul {
  margin: 0;
}
.popular li {
  position: relative;
  display: inline-block;
  width:24%;
}
.popular img {
  width: 100%;
}
.pop_post_title {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
footer {
  background-color: #083452;
  border-radius: 0 0 10px 10px;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
footer section{
  color: white;
  /*padding: 30px 0 10px 40px;*/
  display: inline-block;
  max-width: 35%;
  margin: 0 7%;
}
footer nav a {
  color: white;
}
footer nav {
  /*padding-left: 0;*/
  display: inline-block;
  width: 35%;
  margin: 0 7%;
}
footer nav li {
  display: inline;
}
